<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <!-- Use java -Dlog.level-DEBUG to get developer level log output -->
    <property name="log.level" value="${log.level:-INFO}"/>

    <appender name="STDERR" class="ConsoleAppender">
        <target>System.err</target>
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${log.level}">
        <appender-ref ref="STDERR"/>
    </root>

</configuration>
